<div>
  <h1 class="font-bold text-4xl">Games#show</h1>
  <p>Find me in app/views/games/show.html.erb</p>
</div>

<%= turbo_frame_tag :new_member do %>
  <%= link_to 'Ingresar', new_member_path(game_id: @game.id) %>
<% end %>
