<div class="hidden only:block">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
    <h1 class="mb-4 text-lg font-extrabold tracking-tight leading-none text-white">Waiting for members to join</h1>
    <p class="text-md font-normal px-64 text-gray-400">Waiting for members to participate in this incredible experience</p>
  </div>
</div>
